<div class="navigation">
  {% ifnotequal page 1 %}
  <span class="button left" onClick="TablePaginator.getPreviousPage()">&lt;&lt; Previous Page</span>
  {% endifnotequal %}
  <span class="button right" onClick="TablePaginator.getNextPage()">Next Page &gt;&gt;</span>
  <div style="clear:both;"></div>
</div>
<table>
  <thead>
    <tr>
      <th>Provider</th>
      <th>Date</th>
      <th>Event Description</th>
      <th>Action</th>
      <th>Details</th>
  </thead>
  <tbody>
    {% for case in cases %}
    <tr>
      <td>{{ case.provider.full_name }}</td>
      <td>{{ case.date|date:"M d, Y" }}</td>
      <td>{{ case.matching_rule_explain }}</td>
      <td>{{ case.get_category_display }}</td>
      <td>
	<button onClick='notify(this, "{% url 'vaers.views.notify' id=case.id %}");'>
	  Get Details
	</button>
	<span></span>
      </td>
    </tr>
    {% empty %}
    <tr><td colspan="5">No Cases Available</td></tr>
    {% endfor %}
    </tbody>
</table>
