{% extends "base.html" %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ site_javascript_folder }}/flexigrid/css/flexigrid/flexigrid.css" />
{% endblock %}

{% block content %}

<p>
<form id="lookup_form" action="{% url 'labtest_lookup' %}" method="POST">
    <table>
        {{ lookup_form.as_p }}
    </table>
    <input type="submit" name="lookup" value="Search Tests" />
    {% csrf_token %}
</form>
</p>



{% if tests %}
<hr>
<h2>Results</h2>
<form id='native_codes' action="{% url 'labtest_detail' %}" method='POST'>
    <input type="submit" name="detail" value="View Detail" />
    <table>
    {{ result_form }}
    </table>
</form>
{% endif %}

{% endblock%}
