/*
 *******************************************************************************
 * 
 * Global stylesheet for ESP Health 
 *
 *******************************************************************************
 *
 * Based on:
 *     DJANGO Admin Global Styles
 *     by Wilson Miner wilson@lawrence.com
 *     Copyright (c) 2005 Lawrence Journal-World
 * 
 * */


body {
    margin:0;
    padding:0;
    font-family:"Lucida Grande","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color:#333;
}

/* LINKS */
a:link, a:visited {
    color: #800000;
    text-decoration:none;
}

a:hover {
    color: #FFFFE0;
    background: #800000;
    text-decoration:italic;
}

a img {
    border:none;
}

/* GLOBAL DEFAULTS */
p, ol, ul, dl {
    margin:.2em 0 .8em 0;
    font-size:12px;
}

p {
    padding:0;
    line-height:140%;
}

h1,h2,h3,h4,h5 {
    font-weight:bold;
}

h1 {
    font-size:18px;
    color:#666;
    padding:0 6px 0 0;
    margin:0 0 2em 0;
}

h2 {
    font-size:16px;
    margin:1em 0 .5em 0;
}

h2.subhead {
    font-weight:normal;
    margin-top:0;
}

h3 {
    font-size:14px;
    margin:.8em 0 .3em 0;
    color:#666;
    font-weight:bold;
}

h4 {
    font-size:12px;
    margin:1em 0 .8em 0;
    padding-bottom:3px;
}

h5 {
    font-size:10px;
    margin:1.5em 0 .5em 0;
    color:#666;
    text-transform:uppercase;
    letter-spacing:1px;
}

ul li {
    list-style-type:square;
    padding:1px 0;
}

ul.plainlist {
    margin-left:0 !important;
}

ul.plainlist li {
    list-style-type:none;
}

li ul {
    margin-bottom:0;
}

li, dt, dd {
    font-size:11px;
    line-height:14px;
}

dt {
    font-weight:bold;
    margin-top:4px;
}

dd {
    margin-left:0;
}

form {
    margin:0;
    padding:0;
}

fieldset {
    margin:0;
    padding:0;
}

blockquote {
    font-size:11px;
    color:#777;
    margin-left:2px;
    padding-left:10px;
    border-left:5px solid #ddd;
}

code, pre {
    font-family:"Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    background:inherit;
    color:#666;
    font-size:11px;
}

pre.literal-block {
    margin:10px;
    background:#eee;
    padding:6px 8px;
}

code strong {
    color:#930;
}

hr {
    clear:both;
    color:#eee;
    background-color:#eee;
    height:1px;
    border:none;
    margin:0;
    padding:0;
    font-size:1px;
    line-height:1px;
}

div.system-message {
    background: #ffc;
    margin: 10px;
    padding: 6px 8px;
    font-size: .8em;
}

div.system-message p.system-message-title {
    padding:4px 5px 4px 25px;
    margin:0;
    color:red;
    background:#ffc url(/images/icon_error.gif) 5px .3em no-repeat;
}

/* PAGE STRUCTURE */
#container {
    position:relative;
    width:100%;
    min-width:720px;
}

#header {
    text-align:left;
    min-height:55px;
    _height:55px;
}

#content {
    margin:10px 15px;
}

#content-main {
    float:left;
}

#content-related {
    float:right;
}

#footer {
    clear:both;
    padding:10px;
}

/* COLUMN TYPES */
.colMS, .colM, .colSM, .colM #content-main, .colM #content-main .xfull {
    width:758px;
}

/* master site width for fixed-width pages */
.colMS #content-main, .colSM #content-main, .colMS #content-main .xfull, .colSM #content-main .xfull {
    width:519px;
}

/* main column width for 2-column pages */
.colMS #content-related, .colSM #content-related, .colSMS #content-related {
    width:220px;
}

/* sidebar column width */
.colSM #content-related {
    float:left;
}

.colSM #content-main {
    float:right;
}

/* swaps left and right columns */
.colSMS #content-main {
    width:298px;
}

.popup .colM {
    width:95%;
}

.popup #content-main, .flex #content-main, .flex .xfull {
    width:100% !important;
}

/* main column width for liquid-width pages */
.popup .flex #content-main, .popup .colM #content-main {
    width:100% !important;
}

.subcol {
    float:left;
    width:46%;
    margin-right:15px;
}

/* WIDTHS */
.x50 {
    width:50px;
}

.x75 {
    width:75px;
}

.x100 {
    width:100px;
}

.x150 {
    width:150px;
}

.x200 {
    width:200px;
}

.x250 {
    width:250px;
}

.x300 {
    width:300px;
}

.x400 {
    width:400px;
}

.x500 {
    width:500px;
}

/* HEADER */
#header {
    background:#417690;
    color:#ffc;
}

#header a:link, #header a:visited {
    color:white;
}

#header a:hover {
    text-decoration:underline;
}

#branding {
    float:left;
    width:480px;
}

#branding h1 /* client name */ {
    padding:8px 0 0 10px;
    margin:0;
    font-size:18px;
    font-weight:normal;
    color:#f4f379;
}

#branding h2 /* site name */ {
    font-size:14px;
    padding:0 0 8px 10px;
    margin:0;
    font-weight:normal;
    color:#ffc;
}

#user-tools {
    font-size:11px;
    padding:8px 8px 0 5px;
    text-align:right;
}

/* SIDEBAR */
#content-related h3 {
    font-size:12px;
    color:#666;
    margin-bottom:3px;
}

#content-related h4 {
    font-size:11px;
}

/* TABLES */
table {
    border-collapse:collapse;
    border-color:#ccc;
}

td, th {
    font-size:11px;
    line-height:13px;
    border-bottom:1px solid #eee;
    vertical-align:top;
    padding:5px;
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
}

th {
    text-align:left;
    font-size:12px;
}

thead th {
    font-weight:bold;
    color:#666;
    padding:2px 5px;
    font-size:11px;
    background:#e1e1e1 url(/images/nav-bg.gif) top left repeat-x;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
}

thead th:first-child {
    border-left:none !important;
}

.superwide table th, .superwide table td, .superwide table input, .superwide table select {
    font-size:10px;
}

.module table {
    border-collapse: collapse;
}

thead th.optional {
    font-weight:normal !important;
}

#home-page table.module tr:hover {
    background:#EDF3FE;
}

fieldset table {
    border-right:1px solid #eee;
}

tr.row-label td {
    font-size:9px;
    padding-top:2px;
    padding-bottom:0;
    border-bottom:none;
    color:#666;
    margin-top:-1px;
}

tr.alt {
    background:#f6f6f6;
}

.row1 {
    background:lightyellow;
}

.row2 {
    background:white;
}

table#change-history {
    width:100%;
}

table#change-history tbody th {
    width:16em;
}

/* TABLE SORTING */
thead th a:link, thead th a:visited {
    color:#666;
    display:block;
}

table thead th.sorted {
    background-position:bottom left !important;
}

table thead th.sorted a {
    padding-right:13px;
}

table thead th.ascending a {
    background:url(/images/arrow-down.gif) right .4em no-repeat;
}

table thead th.descending a {
    background:url(/images/arrow-up.gif) right .4em no-repeat;
}

/* MODULES */
.module {
    border:1px solid #ccc;
    margin-bottom:5px;
    background:white;
}

.module p, .module ul, .module h3, .module h4, .module dl, .module pre {
    padding-left:10px;
    padding-right:10px;
}

.module blockquote {
    margin-left:12px;
}

.module ul, .module ol {
    margin-left:1.5em;
}

.module h2, .module caption {
    margin:0;
    padding:2px 5px 3px 5px;
    font-size:11px;
    text-align:left;
    background:#7CA0C7 url(/images/default-bg.gif) left top repeat-x;
    color:white;
    font-weight:bold;
}

.module caption {
    border:1px solid #ccc;
    border-bottom:none;
}

.module h3 {
    margin-top:.6em;
}

#content-related .module h2 {
    background:#eee url(/images/nav-bg.gif) bottom left repeat-x;
    color:#666;
}

#content-main .verbose .actionlist {
    float:right;
    font-size:10px;
    width:17em;
    position:relative;
    top:-1.6em;
    margin:0 8px;
}


/* DASHBOARD */
.dashboard .module table th {
    width:100%;
}

.dashboard .module table td {
    white-space:nowrap;
}

.dashboard .module table td a {
    display:block;
    padding-right:.6em;
}

/* RECENT ACTIONS MODULE */
.module ul.actionlist {
    margin-left:0;
}

ul.actionlist li {
    list-style-type:none;
}

/* FORM DEFAULTS */
input, textarea, select {
    margin:2px 0;
    padding:2px 3px;
    vertical-align:middle;
    border:1px solid #ccc;
    font-family:"Lucida Grande", Verdana, Arial, sans-serif;
    font-weight:normal;
    font-size:11px;
}

textarea {
    vertical-align:top !important;
}

input[type=checkbox], input[type=radio] {
    border:none;
}

/* FORM BUTTONS */
input[type=submit], input[type=button], .submit-row input {
    background:white url(/images/nav-bg.gif) bottom repeat-x;
    padding:3px;
    color:black;
}

input[type=submit]:active, input[type=button]:active {
    background-image:url(/images/nav-bg-reverse.gif);
    background-position:top;
}

input[type=submit].default, .submit-row input.default {
    border:2px solid #5b80b2;
    background:#7CA0C7 url(/images/default-bg.gif) bottom repeat-x;
    font-weight:bold;
    color:white;
}

input[type=submit].default:active {
    background-image:url(/images/nav-bg-grabber.gif);
    background-position:top;
}

.submit-row {
    padding:5px 7px;
    text-align:right;
    background:#ffc;
    border:1px solid #ccc;
    margin:5px 0;
}

.submit-row input {
    margin:0 0 0 5px;
}

.submit-row .float-left {
    padding-top:.1em;
}

/* FORM ROWS */
.form-row {
    clear:both;
    padding:8px 12px;
    font-size:11px;
}

html&gt;
body .form-row {
    border-bottom:1px solid #eee;
}

.form-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.form-row img, .form-row input {
    vertical-align:middle;
}

form .form-row p {
    padding-left:0;
    font-size:11px;
}

/* FORM LABELS */
form h4 {
    margin:0 !important;
    padding:0 !important;
    border:none !important;
}

label {
    font-weight:normal !important;
    color:#666;
    font-size:12px;
}

label.inline {
    margin-left:20px;
}

.required label, label.required {
    font-weight:bold !important;
    color:#333 !important;
}

/* RADIO BUTTONS */
form ul.radiolist li {
    list-style-type:none;
}

form ul.radiolist label {
    float:none;
    display:inline;
}

form ul.inline {
    margin-left:0;
    padding:0;
}

form ul.inline li {
    float:left;
    padding-right:7px;
}

/* ALIGNED FIELDSETS */
.aligned label {
    display:block;
    padding:0 1em 3px 0;
    float:left;
    text-align:left;
    width:8em;
}

.aligned label.inline {
    display:inline;
    float:none;
}

.colMS .aligned .vLargeTextField, .colMS .aligned .vXMLLargeTextField {
    width:350px;
}

form .aligned p, form .aligned ul {
    margin-left:7em;
    padding-left:30px;
}

form .aligned table p {
    margin-left:0;
    padding-left:0;
}

form .aligned p.help {
    padding-left:38px;
}

.aligned .vCheckboxLabel {
    float:none !important;
    display:inline;
}

.colM .aligned .vLargeTextField, colM .aligned .vXMLLargeTextField {
    width:610px;
}

.checkbox-row p.help {
    margin-left:0;
    padding-left:0 !important;
}

/* WIDE FIELDSETS */
.wide label {
    width:15em !important;
}

form .wide p {
    margin-left:15em;
}

form .wide p.help {
    padding-left:38px;
}

.colM fieldset.wide .vLargeTextField, .colM fieldset.wide .vXMLLargeTextField {
    width:450px;
}

/* COLLAPSED FIELDSETS */
fieldset.collapsed * {
    display:none;
}

fieldset.collapsed h2, fieldset.collapsed {
    display:block !important;
}

fieldset.collapsed .collapse-toggle {
    display: inline !important;
}

fieldset.collapse h2 a.collapse-toggle {
    color:#ffc;
}

fieldset.collapse h2 a.collapse-toggle:hover {
    text-decoration:underline;
}

.hidden {
    display:none;
}

/* MESSAGES & ERRORS */
ul.messagelist {
    padding:0 0 5px 0;
    margin:0;
}

ul.messagelist li {
    font-size:12px;
    display:block;
    padding:4px 5px 4px 25px;
    margin:0 0 3px 0;
    border-bottom:1px solid #ddd;
    color:#666;
    background:#ffc url(/images/icon_success.gif) 5px .3em no-repeat;
}

.errornote {
    font-size:12px !important;
    display:block;
    padding:4px 5px 4px 25px;
    margin:0 0 3px 0;
    border:1px solid red;
    color:red;
    background:#ffc url(/images/icon_error.gif) 5px .3em no-repeat;
}

ul.errorlist {
    margin:0 !important;
    padding:0 !important;
}

.errorlist li {
    font-size:12px !important;
    display:block;
    padding:4px 5px 4px 25px;
    margin:0 0 3px 0;
    border:1px solid red;
    color:white;
    background:red url(/images/icon_alert.gif) 5px .3em no-repeat;
}

td ul.errorlist {
    margin:0 !important;
    padding:0 !important;
}

td ul.errorlist li {
    margin:0 !important;
}

.error {
    background:#ffc;
}

.error input, .error select {
    border:1px solid red;
}

/* ACTION ICONS */
.addlink {
    padding-left:12px;
    background:url(/images/icon_addlink.gif) 0 .2em no-repeat;
}

.changelink {
    padding-left:12px;
    background:url(/images/icon_changelink.gif) 0 .2em no-repeat;
}

.deletelink {
    padding-left:12px;
    background:url(/images/icon_deletelink.gif) 0 .2em no-repeat;
}

a.deletelink:link, a.deletelink:visited {
    color:#CC3434;
}

a.deletelink:hover {
    color:#993333;
}

/* OBJECT TOOLS */
.object-tools {
    font-size:10px;
    font-weight:bold;
    font-family:Arial,Helvetica,sans-serif;
    padding-left:0;
    margin-bottom:5px;
    float:right;
    position:relative;
    margin-top:-2.4em;
    margin-bottom:-2em;
}

.form-row .object-tools {
    margin-top:0;
    margin-bottom:0;
}

.object-tools li {
    display:block;
    float:left;
    background:url(/images/tool-left.gif) 0 0 no-repeat;
    padding:0 0 0 8px;
    margin-left:2px;
    height:16px;
}

.object-tools li:hover {
    background:url(/images/tool-left_over.gif) 0 0 no-repeat;
}

.object-tools a:link, .object-tools a:visited {
    display:block;
    float:left;
    color:white;
    padding:.1em 14px .1em 8px;
    height:14px;
    background:#999 url(/images/tool-right.gif) 100% 0 no-repeat;
}

.object-tools a:hover, .object-tools li:hover a {
    background:#5b80b2 url(/images/tool-right_over.gif) 100% 0 no-repeat;
}

.object-tools a.viewsitelink, .object-tools a.golink {
    background:#999 url(/images/tooltag-arrowright.gif) top right no-repeat;
    padding-right:28px;
}

.object-tools a.viewsitelink:hover, .object-tools a.golink:hover {
    background:#5b80b2 url(/images/tooltag-arrowright_over.gif) top right no-repeat;
}

.object-tools a.addlink {
    background:#999 url(/images/tooltag-add.gif) top right no-repeat;
    padding-right:28px;
}

.object-tools a.addlink:hover {
    background:#5b80b2 url(/images/tooltag-add_over.gif) top right no-repeat;
}

/* INLINE CONTROLS */
#inline-controls {
    font-weight:bold;
    font-size:12px;
}

#inline-specific-controls {
    margin-left:6px;
    padding:0 8px;
    border-left:6px solid #ccc;
}

/* BREADCRUMBS */
p.breadcrumbs {
    font-size:11px;
    color:#ccc;
    text-align:left;
}

/* old breadcrumbs style */
div.breadcrumbs {
    background:white url(/images/nav-bg-reverse.gif) 0 -10px repeat-x;
    padding:2px 8px 3px 8px;
    font-size:11px;
    color:#999;
    border-top:1px solid white;
    border-bottom:1px solid #ccc;
    text-align:left;
}

/* SELECTOR (FILTER INTERFACE) */
.selector {
    width:580px;
    float:left;
}

.selector select {
    width:270px;
    height:170px;
}

.selector-available, .selector-chosen {
    float:left;
    width:270px;
    text-align:center;
    margin-bottom:5px;
}

.selector-available h2, .selector-chosen h2 {
    border:1px solid #ccc;
}

.selector .selector-available h2 {
    background:white url(/images/nav-bg.gif) bottom left repeat-x;
    color:#666;
}

.selector .selector-filter {
    background:white;
    border:1px solid #ccc;
    border-width:0 1px;
    padding:3px;
    color:#999;
    font-size:10px;
    margin:0;
    text-align:left;
}

.selector .selector-chosen .selector-filter {
    padding:4px 5px;
}

.selector .selector-available input {
    width:230px;
}

.selector ul.selector-chooser {
    float:left;
    width:22px;
    height:50px;
    background:url(/images/chooser-bg.gif) top center no-repeat;
    margin:13% 3px 0 3px;
    padding:0;
}

.selector-chooser li {
    margin:0;
    padding:3px;
    list-style-type:none;
}

.selector select {
    margin-bottom:5px;
    margin-top:0;
}

.selector-add, .selector-remove {
    width:16px;
    height:16px;
    display:block;
    text-indent:-3000px;
}

.selector-add {
    background:url(/images/selector-add.gif) top center no-repeat;
    margin-bottom:2px;
}

.selector-remove {
    background:url(/images/selector-remove.gif) top center no-repeat;
}

a.selector-chooseall, a.selector-clearall {
    display:block;
    width:6em;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    font-weight:bold;
    color:#666;
    padding:3px 0 3px 18px;
}

a.selector-chooseall:hover, a.selector-clearall:hover {
    color:#036;
}

a.selector-chooseall {
    width:7em;
    background:url(/images/selector-addall.gif) left center no-repeat;
}

a.selector-clearall {
    background:url(/images/selector-removeall.gif) left center no-repeat;
}

/* Stacked selectors for long items */
.stacked {
    float:left;
    width:500px;
}

.stacked select {
    width:480px;
    height:100px;
}

.stacked .selector-available, .stacked .selector-chosen {
    width:480px;
}

.stacked .selector-available {
    margin-bottom:0;
}

.stacked .selector-available input {
    width:442px;
}

.stacked ul.selector-chooser {
    height:22px;
    width:50px;
    margin:0 0 3px 40%;
    background:url(/images/chooser_stacked-bg.gif) top center no-repeat;
}

.stacked .selector-chooser li {
    float:left;
    padding:3px 3px 3px 5px;
}

.stacked .selector-chooseall, .stacked .selector-clearall {
    display:none;
}

.stacked .selector-add {
    background-image:url(/images/selector_stacked-add.gif);
}

.stacked .selector-remove {
    background-image:url(/images/selector_stacked-remove.gif);
}

/* DATE AND TIME */
p.datetime {
    line-height:20px;
    margin:0;
    padding:0;
    color:#666;
    font-size:11px;
    font-weight:bold;
}

.datetime span {
    font-size:11px;
    font-weight:normal;
    color:#ccc;
    white-space:nowrap;
}

.vDateField {
    margin-left:4px;
}

table p.datetime {
    font-size:10px;
    margin-left:0;
    padding-left:0;
}

/* FILE UPLOADS */
p.file-upload {
    line-height:20px;
    margin:0;
    padding:0;
    color:#666;
    font-size:11px;
    font-weight:bold;
}

.file-upload a {
    font-weight:normal;
}

.file-upload .deletelink {
    margin-left:5px;
}

/* CALENDARS & CLOCKS */
.calendarbox, .clockbox {
    margin:5px auto;
    font-size:11px;
    width: 16em;
    text-align: center;
    background:white;
    position:relative;
}

.clockbox {
    width:9em;
}

.calendar {
    margin:0;
    padding: 0;
}

.calendar table {
    margin: 0;
    padding: 0;
    border-collapse:collapse;
    background:white;
    width:99%;
}

.calendar caption, .calendarbox h2 {
    margin: 0;
    font-size:11px;
    text-align:center;
    border-top:none;
}

.calendar th {
    font-size:10px;
    color:#666;
    padding:2px 3px;
    text-align:center;
    background:#e1e1e1 url(/images/nav-bg.gif) 0 50% repeat-x;
    border-bottom:1px solid #ddd;
}

.calendar td {
    font-size:11px;
    text-align: center;
    padding: 0;
    border-top:1px solid #eee;
    border-bottom:none;
}

.calendar td.selected a {
    background: #C9DBED;
}

.calendar td.nonday {
    background:#efefef;
}

.calendar td.today a {
    background:#ffc;
}

.calendar td a, .timelist a {
    display: block;
    font-weight:bold;
    padding:4px;
    text-decoration: none;
    color:#444;
}

.calendar td a:hover, .timelist a:hover {
    background: #5b80b2;
    color:white;
}

.calendar td a:active, .timelist a:active {
    background: #036;
    color:white;
}

.calendarnav {
    font-size:10px;
    text-align: center;
    color:#ccc;
    margin:0;
    padding:1px 3px;
}

.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
    color: #999;
}

.calendar-shortcuts {
    background:white;
    font-size:10px;
    line-height:11px;
    border-top:1px solid #eee;
    padding:3px 0 4px;
    color:#ccc;
}

.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
    display:block;
    position:absolute;
    font-weight:bold;
    font-size:12px;
    background:#C9DBED url(/images/default-bg.gif) bottom left repeat-x;
    padding:1px 4px 2px 4px;
    color:white;
}

.calendarnav-previous:hover, .calendarnav-next:hover {
    background:#036;
}

.calendarnav-previous {
    top:0;
    left:0;
}

.calendarnav-next {
    top:0;
    right:0;
}

.calendar-cancel {
    margin:0 !important;
    padding:0;
    font-size:10px;
    background:#e1e1e1 url(/images/nav-bg.gif) 0 50% repeat-x;
    border-top:1px solid #ddd;
}

.calendar-cancel a {
    padding:2px;
    color:#999;
}

ul.timelist, .timelist li {
    list-style-type:none;
    margin:0;
    padding:0;
}

.timelist a {
    padding:2px;
}

/* ORDERING WIDGET */
ul#orderthese {
    padding:0;
    margin:0;
    list-style-type:none;
}

ul#orderthese li {
    list-style-type:none;
    display:block;
    padding:0;
    margin:6px 0;
    width:214px;
    background:#f6f6f6;
    white-space:nowrap;
    overflow:hidden;
}

ul#orderthese li span {
    display:block;
    border:1px solid #e7e7e7;
    background:transparent url(/images/nav-bg-grabber.gif) top left repeat-y;
    font-size:10px !important;
    padding:4px 6px 4px 12px;
}

ul#orderthese span:hover {
    background-color:#efefef;
}

/* PAGINATOR */
.paginator {
    font-size:11px;
    padding-top:10px;
    padding-bottom:10px;
    line-height:22px;
    margin:0;
    border-top:1px solid #ddd;
}

.paginator a:link, .paginator a:visited {
    padding:2px 6px;
    border:solid 1px #ccc;
    background:white;
    text-decoration:none;
}

.paginator a.showall {
    padding:0 !important;
    border:none !important;
}

.paginator a.showall:hover {
    color:#036 !important;
    background:transparent !important;
}

.paginator .end {
    border-width:2px !important;
    margin-right:6px;
}

.paginator .this-page {
    padding:2px 6px;
    font-weight:bold;
    font-size:13px;
    vertical-align:top;
}

.paginator a:hover {
    color:white;
    background:#5b80b2;
    border-color:#036;
}

/* TEXT STYLES & MODIFIERS */
.small {
    font-size:11px;
}

.tiny {
    font-size:10px;
}

p.tiny {
    margin-top:-2px;
}

.mini {
    font-size:9px;
}

p.mini {
    margin-top:-3px;
}

.help, p.help {
    font-size:10px !important;
    color:#999;
}

p img, h1 img, h2 img, h3 img, h4 img, td img {
    vertical-align:middle;
}

.quiet, a.quiet:link, a.quiet:visited {
    color:#999 !important;
    font-weight:normal !important;
}

.quiet strong {
    font-weight:bold !important;
}

.float-right {
    float:right;
}

.float-left {
    float:left;
}

.clear {
    clear:both;
}

.align-left {
    text-align:left;
}

.align-right {
    text-align:right;
}

.example {
    margin:10px 0;
    padding:5px 10px;
    background:#efefef;
}

.nowrap {
    white-space:nowrap;
}

/* CUSTOM FORM FIELDS */
.vSelectMultipleField {
    vertical-align:top !important;
}

.vCheckboxField {
    border:none;
}

.vDateField, .vTimeField {
    margin-right:2px;
}

.vFileUploadField {
    border:none;
}

.vURLField {
    width:380px;
}

.vLargeTextField, .vXMLLargeTextField {
    width:480px;
}

.colM .vLargeTextField, .colM .vXMLLargeTextField {
    width:720px;
}

body.core-flatfile #id_content {
    height: 400px;
}

.module table .vPositiveSmallIntegerField {
    width: 22px;
}

.blurb {
    border: thin solid black;
    background-color: #800000;
    color: white;
    padding: 0.25em;
}
